<div class="container">
  <mat-card-header style="background-color: rgb(26,153,0);text-align: center;">
    <h4 class="fas-font-IBM" style="color: white;">
      IT 02-1
    </h4>
  </mat-card-header>
  <mat-card class="p-3">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-5" style="text-align: right;padding: 10px 13px;">
            User
          </div>
          <div class="col-7" style="padding: 10px 13px;">
            <input matInput type="text" class="form-control" [(ngModel)]="Username" title="Username">
          </div>
        </div>
        <div class="row">
          <div class="col-5" style="text-align: right;padding: 10px 13px;">
            Password
          </div>
          <div class="col-7" style="padding: 10px 13px;">
            <input matInput type="password" class="form-control" [(ngModel)]="Password" title="Password">
          </div>
        </div>
        <div class="row">
          <div class="col-5" style="text-align: right;padding: 10px 13px;">
            ConfirmPassword
          </div>
          <div class="col-7" style="padding: 10px 13px;">
            <input matInput type="password" class="form-control" [(ngModel)]="ConfirmPassword" title="ConfirmPassword">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button mat-raised-button color="accent" (click)="register()">สมัครสมาชิก</button>
      </div>
    </div>
  </mat-card>
</div>